*{
    margin: 0%;
    padding: 0%;
}
.body{
    background-image: url("image/bg.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Score{
    font-size: 50px;
    font-weight: 700;
    position: absolute;
    top:20px;
    right: 200px;
    font-family: fantasy;
}
#Highscore{
    font-size: 50px;
    font-weight: 700;
    position: absolute;
    top:100px;
    right:100px;
    font-family: fantasy;
}
#board {
    width: 90vmin;
    height: 92vmin;
    background:linear-gradient(rgb(170,236,170),rgb(236,236,167));
    border:2px black solid;
    display: grid;
    grid-template-columns: repeat(18,1fr);
    grid-template-rows: repeat(18,1fr);
}
.head{
    background: linear-gradient(red,yellow);
    border-radius: 12px;
    border: 1px purple solid;
    transform: scale(1.05);
}
.snake{
    background-color: purple;
    border-radius: 9px;
    border: 1px white solid;
}
.food{
    background:linear-gradient(red,purple);
    border-radius: 12px;
    border: 1px black solid;
}